<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Tailos{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/css/foundation.min.css">
  </head>

  <body>
    <div class="grid-container">
      <div class="top-bar">
	<div class="top-bar-left">
	  <ul class="menu">
            <li> <a href="#"> Home </a></li>
            <li> <a href="#"> Weather </a></li>
            <li> <a href="#"> Traffic </a></li>
            <li> <a href="#"> News </a></li>
	  </ul>
	</div>
	<div class="top-bar-right">
	  <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
	  </ul>
	</div>
      </div>
      <h1 class="text-center">Tailos</h1>
      {% block body %}
      {% endblock %}
    </div>
  </body>

</html>
